
<ul class="dropdown-menu">
    <li class="dropdown user user-menu">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img src="~/Content/img/user.jpg" class="user-image" alt="User Image">
            <span class="hidden-xs">@User.Identity.Name</span>
        </a>
        @if (Request.IsAuthenticated)
        {
<li class="user-header">
            <img src="~/Content/img/user.jpg" class="img-circle" alt="User Image">

            <p>
                @User.Identity.Name
                <small>Member since Nov. 2012</small>
            </p>
        </li>
        <li class="user-body">
            <div class="row">
                <div class="col-xs-4 text-center">
                    <a href="#">Followers</a>
                </div>
                <div class="col-xs-4 text-center">
                    <a href="#">Sales</a>
                </div>
                <div class="col-xs-4 text-center">
                    <a href="#">Friends</a>
                </div>
            </div>
        </li>
        <li class="user-footer">
            <div class="pull-left">
                <a class="btn btn-default btn-flat" href="@Url.Action("Details", "User", new { id = User.Id, Area = "Administration" })">Thông tin tài khoản</a>
            </div>
            <div class="pull-right">
                <a class="btn btn-default btn-flat" href="@Url.Action("LogOff", "Account", new {Area = "" })">Đăng xuất</a>
            </div>
        </li>
        }
        else
        {
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <img src="~/Content/img/userxxx.jpg" class="user-image" alt="User Image">
                <span class="hidden-xs">Anomymous User</span>
            </a>
        }
    </li>
</ul>
 