<aside class="main-sidebar">
    <section class="sidebar">
        @* BEGIN Search *@
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        @* END Search *@
        @* BEGIN Menu *@
        <ul class="sidebar-menu">
            <li class="header">HEADER</li>
            <li class="active"><a href="@Url.Action("Index", "Home")"><i class="fa fa-link"></i> <span>Dashboard</span></a></li>
            <li><a href="@Url.Action("Index", "BlanketAgreement", new {Area="Business" })"><i class="fa fa-link"></i> <span>Blanket Agreement</span></a></li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-link"></i> <span>System</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#">System Categories</a></li>
                    <li><a href="#">Users</a></li>
                </ul>
            </li>
        </ul>
        @* END Menu *@
    </section>
</aside>