@model IEnumerable<SAP.Addon.Domain.Entities.Business.ZOAT1TMP>

<script>
    function AddItem(sender) {
        $.ajax({
            url: sender.href,
            cache: false,
            success: function (html) {
                //alert(html);
                $("#DetailList").append(html);
            },
            error: function (html) {
                ShowNotify(html, 'error');
            }
        });
        return false;
    }

</script>

<script>
        var currentControl = null;
        function onItemAdditionalData()
        {
            //console.log($(currentControl.element[0]).val());
            if (currentControl)
            return {
                ItemCode: $(currentControl.element[0]).val()
            };
            return "";
        }

        function onItemSelect(e) {
            //console.log(e);
            if (currentControl)
            {
                var dataItem = this.dataItem(e.item.index());
                FillData(dataItem, currentControl);
            }

        }

        function onItemFiltering(e) {
            currentControl = e.sender;

        }

    //Find by item name

        function onItemNameAdditionalData() {
            if (currentControl)
                return {
                    ItemName: $(currentControl.element[0]).val()
                };
            return "";
        }

        function onItemNameSelect(e) {
            //console.log(e);
            if (currentControl) {
                var dataItem = this.dataItem(e.item.index());
                FillData(dataItem, currentControl);
            }

        }

        function onItemNameFiltering(e) {
            currentControl = e.sender;

        }

        function FillData(dataItem, control)
        {
            //$(control.element[0]).parent().parent().prev("td").find('input').first().val(dataItem.IC);
            $(control.element[0]).closest('tr').find("input[name*='ItemCode']").first().val(dataItem.IC);
            $(control.element[0]).closest('tr').find("input[name*='ItemName']").first().val(dataItem.IN);
            $(control.element[0]).closest('tr').find("input[name*='U_VatPrcnt']").first().data("kendoNumericTextBox").value(dataItem.Vat);

            //console.log($(control.element[0]).closest('tr').find("label:nth-child(1)"));
            var labelList = $(control.element[0]).closest('tr').find("label:nth-child(1)");

            $(labelList).each(function ( index, item)
            {
                if (index == 0)
                    $(this).html(dataItem.IG);
                if (index == 1)
                    $(this).html(dataItem.MF);
                if (index == 4)
                    $(this).html(dataItem.BasePrice);
                if (index == 5)
                    $(this).html(dataItem.UOM);
            });

            //Select original
            var cmbOriginal = $(control.element[0]).closest('tr').find("select[name*='U_OtherName']").first();
            SelectOriginal(cmbOriginal, dataItem);

            var cmbTenderUnit = $(control.element[0]).closest('tr').find("select[name*='U_TenderUnit']").first();
            var txtCumQty = $(control.element[0]).closest('tr').find("input[name*='CumQty']").first().data("kendoNumericTextBox");
            SelectTenderUnit(cmbTenderUnit, txtCumQty, dataItem);
        }

        function SelectOriginal(cmbOriginal, dataItem)
        {
            //console.log(cmbOriginal);
            $.ajax({
                url: '@Url.Action("GetOriginal", "BlanketAgreementDetail")'+'?ItemCode='+dataItem.IC + '&Manufacturer='+dataItem.MF,
                success: function (data, status) {
                    if (cmbOriginal != null)
                        cmbOriginal.val(data);
                },
                error: function () { }
            });
            //cmbOriginal.val("");
        }

    function SelectTenderUnit(cmbTenderUnit, txtCumQty, dataItem) {
        //console.log(cmbTenderUnit);
        $.ajax({
            url: '@Url.Action("GetTenderUnit", "BlanketAgreementDetail")' + '?ItemCode=' + dataItem.IC + '&SaleUnit=' + dataItem.UOM,
            success: function (data, status) {
                if (cmbTenderUnit != null) {
                    cmbTenderUnit.val(data.UoM);
                    txtCumQty.value(data.ItemsPerUoM);
                }
                    

            },
            error: function () { }
        });
        //cmbOriginal.val("");
    }


    ///customer finder
    function onItemCodeData() {
        return {
            pbCode: $(currentControl.element[0]).closest('tr').find("input[name*='U_BPCode']").first().val() //$("#BpCode").val()
        };
    }
    function onItemNameData() {
        return {
            pbName: $(currentControl.element[0]).closest('tr').find("input[name*='U_BPName']").first().val()//$("#BpName").val()
        };
    }

    function onItemSelected(e) {
        var dataItem = this.dataItem(e.item.index());
        // $(this).val(dataItem.CN);
        $(currentControl.element[0]).closest('tr').find("input[name*='U_BPCode']").first().val(dataItem.CC);
        $(currentControl.element[0]).closest('tr').find("input[name*='U_BPName']").first().val(dataItem.CN);
    }

    function onItemFiltering(e) {
        currentControl = e.sender;
    }

</script>

<style>
    .width50 {width:50px;}
    .width100 {width:100px;}
    .width150 {width:150px;}
    .width200 {width:200px;}
    .width250 {width:250px;}
    .width70 {width:70px;}
    table tr td label {font-weight:normal; font-size:11px;}

    .table>tbody>tr>td {
    padding: 3px !important;
    vertical-align: middle !important;
}
    
</style>



<a href="@Url.Action("AddItem","BlanketAgreementDetail")" class="btn btn-primary btn-sm" onclick="AddItem(this); return false;"><i class="fa fa-plus"></i> Add item</a>
<table class="table table-bordered" style="width:3500px;">
    <thead>
        <tr>
            <th class="width100">Item No.</th>
            <th class="width200">Description</th>
            <th class="width100">Item Group</th>
            <th class="width150">Manufacturer</th>

            <th class="width200">Original</th>
            <th class="width100">SaleQty(SAP)</th>
            <th class="width100">SalePrice(SAP)</th>
            <th class="width100">Base Price</th>

            <th class="width100">Sale Unit</th>
            <th class="width100">Tender Unit</th>
            <th class="width100">Items/Sale Unit</th>
            <th class="width100">Planed Qty</th>

            <th class="width100">Unit Price</th>
            <th class="width70">Vat%</th>
            <th class="width100">Price after Vat</th>
            <th class="width100">Amount</th>

            <th class="width100">Discount%</th>
            <th class="width100">Line Status</th>
            <th class="width100">Notify Qty</th>
            <th class="width100">Remarks</th>

            <th class="width100">Company Code</th>
            <th class="width200">Company Name</th>
            <th class="width100">Tender Type</th>
            <th class="width70">Valid On</th>

            <th class="width70">Valid To</th>
            <th class="width150">Base Agreement</th>
            <th class="width150">Base Agreement Line</th>
        </tr>
    </thead>
    <tbody id="DetailList">
        @foreach (var item in Model)
        {
            @Html.Partial("~/Areas/Business/Views/BlanketAgreementDetail/DetailItem.cshtml", item, new ViewDataDictionary {
           { "Origins" , new SelectList(ViewBag.Origins, "Code","Name",item.U_OtherName) },

           { "LineStatus" , new SelectList(ViewBag.LineStatus, "Code","Name",item.LineStatus) },
           { "TenderTypes" , new SelectList(ViewBag.TenderTypes, "Code","Name",item.U_TenderType) },
           { "NotifyQty" , new SelectList(ViewBag.NotifyQty, "Code","Name",item.U_Notify) },

           { "UoMs", new SelectList(ViewBag.UoMs, "Code", "Name", item.U_TenderType) } })
        }
    </tbody>
</table>
