.bg-lightyellow{
    background-color:lightyellow !important;
}

<style>
    .width50 {width:50px;}
    .width100 {width:100px;}
    .width150 {width:150px;}
    .width200 {width:200px;}
    .width250 {width:250px;}
    .width70 {width:70px;}
    table tr td label {font-weight:normal; font-size:11px;}

    .table>tbody>tr>td {
    padding: 3px !important;
    vertical-align: middle !important;
}
    
</style>

