
<div class="form-actions row">
    <div class="col-md-2"></div>
    <div class="col-md-2">
        <button type="submit" class="btn btn-primary mr5 mb10"> <i class="fa fa-save"></i> <span class="">Lưu</span></button>
        <a href="@Url.Action("Index")" class="btn btn-danger mr5 mb10"> <i class="fa fa-remove"></i> <span class="">Hủy</span></a>
    </div>

</div>