<p class=pull-left>Copyrights &copy; 2016 <a href="#" class="color-blue strong" target=_blank>SAP.Integration</a>. All rights reserved.</p>
<p class=pull-right>
    <a href=# class=mr5>Terms of use</a> | <a href=# class="ml5 mr25">Privacy police</a>
</p>