@model IEnumerable<SAP.Addon.Domain.Models.Administration.MenuViewModel>

<div class=sidebar-inner>
    <!-- Start .sidebar-scrollarea -->
    <div class=sidebar-scrollarea>
        <div class=sidenav>
            <div class="sidebar-widget mb0">
                <h6 class="title mb0">Navigation</h6>
            </div>
            <!-- End .sidenav-widget -->
            <div class=mainnav>
                <ul>
                    @foreach(var menu in Model.Where(m=>m.ParentId == null))
                    {
                        var subMenus = Model.Where(m => m.ParentId == menu.Id).ToList();
                        @Html.Partial("_MenuItem", menu, new ViewDataDictionary { { "SubMenus", subMenus }, {"Menus",Model } });
                    }
                    
                </ul>
            </div>
        </div>
        <!-- End sidenav -->
        @*@Html.Partial("_SideNavWidget")*@
    </div>
    <!-- End .sidebar-scrollarea -->
</div>

