<div class=shortcuts>
    <ul>
        <li>
            <a href=support.html title="Support section" class=tip>
                <i class="s24 icomoon-icon-support">
                </i>
            </a>
        </li>
        <li>
            <a href=# title="Database backup" class=tip>
                <i class="s24 icomoon-icon-database">
                </i>
            </a>
        </li>
        <li>
            <a href=charts.html title="Sales statistics" class=tip>
                <i class="s24 icomoon-icon-pie-2">
                </i>
            </a>
        </li>
        <li>
            <a href=# title="Write post" class=tip>
                <i class="s24 icomoon-icon-pencil">
                </i>
            </a>
        </li>
    </ul>
</div>