
@{
    ViewBag.Title = "List of Agrs";
}

<script id="cmdbuttonTemplate" type="text/x-kendo-template">
    <a class="btn btn-xs btn-primary" title="Edit" href="@Url.Action("Edit", "BlanketAgreement")?id=#=AgrNo#"> <i class="fa fa-pencil"></i></a>
</script>
<script>
    var cmdbuttonTemplate = kendo.template($('#cmdbuttonTemplate').html());
</script>

@(Html.Kendo().Grid<SAP.Addon.Domain.Models.Business.BlanketAgreementListViewModel>()
    .Name("grid")
    .Selectable()
    .Columns(columns =>
    {
        columns.Bound(p=>p.AgrNo).Width(40).Filterable(false).ClientTemplate("#=cmdbuttonTemplate(data)#");
        columns.Bound(p => p.AgrNo).Filterable(false).Width(70);
        columns.Bound(p => p.SAPAgrNo).Width(70).Filterable(false);
        columns.Bound(p => p.ContractNo).Width(150).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains").ShowOperators(false)));
        columns.Bound(p => p.BpCode).Width(100).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains").ShowOperators(false)));
        columns.Bound(p => p.BpName).Width(500).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains").ShowOperators(false)));
        columns.Bound(p => p.StartDate).Width(100).Format("{0:dd/MM/yyyy}").Filterable(false);
        columns.Bound(p => p.EndDate).Width(100).Format("{0:dd/MM/yyyy}").Filterable(false);
        columns.Bound(p => p.Status).Width(70).Filterable(false);
        columns.Bound(p => p.Active).Width(70).Filterable(false);
        columns.Bound(p => p.Description).Width(250).Filterable(false);
        columns.Bound(p => p.StaffName).Width(70).Filterable(false);
    })
    .Pageable()
    .Sortable()
    .Scrollable(s=>s.Height(450))
    .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(50)
        .ServerOperation(true)
        .Read(read => read.Action("Read", "BlanketAgreement"))
     )
     .ToolBar(t=>t.Template(@<text>
        <a class="btn btn-primary btn-sm" href="@Url.Action("Create", "BlanketAgreement")"><i class="fa fa-plus"></i> Create New</a>
        <a class="btn btn-primary btn-sm pull-right" href="@Url.Action("Create", "BlanketAgreement")"><i class="fa fa-file-excel-o"></i> Export to Excel</a>
    </text>))
)